<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>PERGUNTAS</h1>
        <hr>
        <a href="perguntar" class="btn btn-primary">Perguntar</a>
        <br>
        <% pergunta.forEach(perguntas =>{ %>
            <br>
            <div class="card">
                <div class="card-bory">
                  <h3><%- perguntas.titulo %></h3>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%- perguntas.id %>"><button class="btn btn-primary">Responder</button></a>
                </div>
            </div>            
        <% }) %>
    </div>
</body>
<%- include('partials/footer.ejs') %>